GOOGLE_GENAI_USE_VERTEXAI=FALSE
GOOGLE_API_KEY=<may be required depending on the model you choose to use>
ANTHROPIC_API_KEY=<may be required depending on the model you choose to use>
OPENAI_API_KEY=<may be required depending on the model you choose to use>
ETHERSCAN_API_KEY=<optional>
INFURA_API_KEY=<required>
CHAINGPT_API_KEY=<required if you want to use Smart Contract Audit>
BITCOMPARE_API_KEY=<optional>
OLLAMA_API_BASE=<optional, default = http://localhost:11434>
UI_HOST=<optional, default = 127.0.0.1>
UI_PORT=<optional, default = 8080>
SOLC_VERSION=<optional>